*
{
	margin:0;
	padding:0;
	box-sizing:border-box;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
}

body
{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	color: #777;
	line-height: 1.5;
}

.loader
{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #fff;
	display: flex;
	align-items:center;
	justify-content:center;
}

.animation
{
	opacity: 0;
}

.animated {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    }

p
{
	line-height: 2;
}

a:hover
{
	text-decoration: none;
}

h3
{
	
	font-size: 36px;
}

h5
{
	
	font-size: 22px;
}

h1,h2,h3,h4,h5,h6
{
	font-weight: bold;
	color: #333;
}

.section-padding
{
	padding: 120px 0;
}

.full-width
{
	width: 100%;
}

.primary
{
	color: #e84118;
}

a, a:hover
{
	color: #fff;
}

.svg-bottom
{
	position: absolute;
	width: 100%;
	bottom: -1px;
	left: 0;
	z-index: 2;
}

.svg-top
{
	position: absolute;
	width: 100%;
	top: -1px;
	left: 0;
	z-index: 2;
}

.overlay
{
	background-color: rgba(0,0,0,0.8);
}
header
{
	
	position: fixed;
	z-index: 100;
	width: 100%;
}

a.navbar-brand
{
	font-size: 22px;
	font-weight: bold;
}

.navbar
{
	padding: 25px 0;
}

nav a,nav a:hover
{
	color: #fff;
}

li.nav-item a.nav-link
{
	position: relative;
	display: inline-block;
}

li.nav-item a.nav-link::after
{
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 0%;
	height: 2px;
	background-color: #fff;
	content: '';
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}

li.nav-item.active a.nav-link::after
{
	width: 100%;
}

li.nav-item a.nav-link:hover::after
{
	width: 100%;
}
.navbar-expand-lg .navbar-nav .nav-link
{
	padding: 0;
}

li.nav-item
{
	margin: 0 15px;
}

li.nav-item:last-child
{
	margin-right: 0;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
button:focus
{
	outline: none;
}
.main
{
	width: 100%;
	height: 100vh;
	background:url(img//IMG_3066.HEIC);
	background-repeat: no-repeat;
	background-size: 100%  700px;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	position: relative;
}
.main::before
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
}
.main-content
{
	z-index: 1;
}
.main-content .welcome
{
	font-weight: bold;
	font-size: 22px;
}
.main-content .type
{
	font-size: 60px;
	margin-top: 20px;
}
.main-content .social-icons
{
	margin-top: 20px;
}
.main-content .social-icons a
{
	padding: 0 10px;
	color: #fff;
}
.main-content .social-icons a:hover
{
	color: #fff;
}
.cta
{
	margin-left: 15px;
	margin-right: 15px;
	padding: 10px 60px;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	margin-top: 40px;
	position: relative;
	overflow: hidden;
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.cta-portfolio
{
	
	border: 1px solid #e84118;
}
.cta-portfolio::before
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #e84118;
	content:'';
	z-index: -1;
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
}
.cta-portfolio:hover
{
	border-color: #fff;
}
.cta-portfolio:hover::before
{
	left: 100%;
}
.cta-contact
{
	border: 1px solid #fff;
}
.cta-contact::after
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	content: '';
	background-color: #e84118;
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	z-index: -1;
}
.cta-contact:hover::after
{
	left: 0;
}
.cta-contact:hover
{
	border-color: #e84118;
}
canvas
{
	display: block;
}
#myparticles
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;	
}
.type .mytext
{
	font-weight: bold;
}
.about img
{
	width: 100%;
}
.about h3
{
	margin-bottom: 15px;
}
.about h5
{
	margin-bottom: 20px;
}
.about-social-icons
{
	margin-top: 35px;
}
.about-social-icons a
{
	color: #333;
	margin:0 10px;
}
.about-contact
{
	padding: 10px 60px;
	font-size: 15px;
	font-weight: bold;
	display: inline-block;
	color: #333;
	border: 1px solid #333;
	margin-top: 40px;
	position: relative;
	overflow: hidden;
}
.about-contact::after
{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: -100%;
	content: '';
	background-color: #333;
	transition:all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	z-index: -1;
}
.about-contact:hover::after
{
	left: 0;
}
.exp-skills
{
	background:url(img/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	color: #ddd;
}
.exp-skills::before
{
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0,98,102,0.9);
}
.exp-skills .section-header
{
	width: 100%;
	position: relative;
}
.exp-skills .section-header::before
{
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	left: 0;
	bottom: 3px;
	background-color: #fff;
}
.exp-skills h3,.exp-skills h5
{
	color: #fff;
}
.exp-skills h3
{
	position: relative;
	display: inline-block;
}
.exp-skills h3::before
{
	position: absolute;
	content: '';
	width: 100%;
	height: 5px;
	left: 0;
	bottom: -5px;
	background-color: #e84118;
}
.exp-skills h5
{
	margin-top: 30px;
}
.exp-skills ul
{
	list-style: none;
}
.exp-skills h6
{
	color: #ddd;
}
.skills h6
{
	margin:30px 0;
}
.progress-content
{
	width: 100%;
	height: 20px;
	background-color: rgba(0,0,0,0.7);
	border-radius:20px;
}
.skill-progress
{
	height: 100%;
	background-color: #e84118;
	width: 1%;
	border-radius: 20px;
	position: relative;
}
.skill-progress::before
{
	position: absolute;
	top: -40px;
	right: -7px;
	content: attr(data-progress);
	color: #333;
	background-color: #fff;
	padding: 1px 5px;
	font-size: 12px;
	border-radius: 10px;
}
.skill-progress::after
{
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top: -15px;
	right: 0px;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	border-top:6px solid #fff;
}
.projects-content
{
	margin-top: 60px;
}
.projects-single .projects-name
{
	margin:30px 0;
}
.projects-icon
{
	width: 60px;
	height: 60px;
	line-height: 60px;
	color: #fff;
	background-color: #333;
	border-radius: 50%;
}
.projects-icon .fa
{
	transform:scale(1)rotateY(0deg);
	transition:all 0.5s ease;
}
.projects-single
{
	border: 1px solid #ddd;
	padding: 30px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	transition: all 0.5s ease;
}
.projects-content .row:nth-child(2)
{
	margin-top: 60px;
}
.projects-single:hover
{
	background-color: #fafafa;
	
}
.projects-single:hover .fa
{
	transform:scale(1.3)rotateY(180deg);
}
.contact
{
	position: relative;
	background:url(img/contact-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ddd;
}
.contact h3
{
	color: #fff;
}
.contact::before
{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(47,54,64,.85);
}
.contact-top, .contact-form
{
	margin-top: 60px;
}
.contact-location,.contact-email,.contact-phone
{
	font-weight: bold;
	color: #fff;
}
input,textarea
{
	width: 100%;
	background-color: rgba(0,0,0,0);
	color: #ddd;
	border: 1px solid #ddd;
	margin-bottom: 40px;
}
input:not([type="submit"])
{
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
textarea
{
	padding-top: 10px;
	padding-left: 20px;
}
#submit
{
	width: auto;
	max-width: 50%;
	padding: 8px 60px;
	border: none;
	color: #fff;
	background-color: #e84118;
	cursor: pointer;
}
.contact i.fa
{
	margin-right: 15px;
}
footer
{
	height: 40px;
	line-height: 40px;
	width: 100%;
	color: #fff;
	background-color: #e84118;
}
